 <div class="wrapper">
   <div class="gcse-search"></div> 
 </div>
 <br/>
  <div class="wrapper">
      <div class="postbody">
          <div class="bixbox">
              <div class="releases">
                  {% include breadcrume-category.html %}
              </div>
              <div class="arleth98">
                  <h2 class="goled">{{ page.title }}</h2>
                  <div class="inf-wrap">
                      
                  </div>
                  
                  <br />
                  <div class="synopsis">
                    {% include share.html %}
                  </div>
                  <br />
                  <div class="synopsis">

                      
                      <div class="content">
                          <script type="application/ld+json">
                              {
                                  "@context": "https://schema.org/",
                                  "@type": "BreadcrumbList",
                                  "itemListElement": [{
                                      "@type": "ListItem",
                                      "position": 1,
                                      "name": "{{ site.title }}",
                                      "item": "{{ site.url }}{{ site.baseurl }}"
                                  }, {
                                      "@type": "ListItem",
                                      "position": 2,
                                      "name": "{{ page.type }}",
                                      "item": "{{ site.url }}{{ site.baseurl }}/{{ page.subtype }}/"
                                  }, {
                                      "@type": "ListItem",
                                      "position": 3,
                                      "name": "{{ page.title }}",
                                      "item": "{{ post.url | prepend: site.baseurl }}"
                                  }]
                              }
                          </script>
                          {{ content }}
                      </div>
                  </div>


                  <div class="synopsis">
                      {% include daftarisipost.html %}
                  </div>
              </div>
              <div id="comments" class="bixbox comments-area">
                  <div class="releases">
                      <h2><span>Comment</span></h2>
                  </div>
                  <div class="cmt commentx">

                      <div id="disqus_thread">
                          {% include disqus.html %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% include sidebar.html %}
  </div>
