 <div id="footer">
     <footer id="colophon" class="site-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter" role="contentinfo">
<div class="menutag">
    <ul id="bolo" class="lolo">
        <li id="bale" class="bala"><button class="dole"><a href="{{ site.url }}/dcma/">DCMA</a></button></li>
        <li id="bale" class="bala"><button class="dole"><a href="{{ site.url }}/contact/">Contact</a></button></li>
        <li id="bale" class="bala"><button class="dole"><a href="{{ site.url }}/privacy-policy">Privacy Policy</a></button></li>
        <li id="bale" class="bala"><button class="dole"><a href="{{ site.url }}/sitemap.xml">Sitemap</a></button></li>
    </ul>
</div>
         <div class="footercopyright">
             <div class="copyright">
                 <div class="txt">
                     <p>© 2022 - {{ site.title }} - {{ site.url }}</p>
                     
                 </div>
             </div>
         </div>
     </footer>
 </div>
 <a href="#" class="scrollToTop" style="display: inline;">^</a>
 <script>
     function timeAgo(o) {
         var t = (new Date).getTime() - o.getTime(),
             e = Math.floor(t / 1e3),
             r = Math.floor(e / 60),
             a = Math.floor(r / 60),
             g = Math.floor(a / 24),
             h = Math.floor(g / 30),
             n = Math.floor(h / 12);
         return 0 === t ? "Just now" : e < 60 ? e + " seconds Ago" : r < 60 ? r + " menit lalu" : a < 24 ? a + " jam lalu" : g < 30 ? g + " hari lalu" : h < 12 ? h + " bulan lalu" : n + " tahun lalu"
     }

     $(".epxdate").each(function() {
         $(this).html(timeAgo(new Date($(this).text())));
     });
 </script>
 <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=G-2R0WJRKX5Z"></script>
 <script>
     window.dataLayer = window.dataLayer || [];

     function gtag() {
         dataLayer.push(arguments);
     }
     gtag('js', new Date());

     gtag('config', 'G-PT6YT9Q8Z7');
 </script>

 <script async src="https://cse.google.com/cse.js?cx=5e724234f6f5e57b7"></script>
