
<div class="wrapper">
    <div class="hotslid">
     <div class="gcse-search"></div>   
    </div><br />
   

    <div class="postbody">
        <div class="bixbox">

            <div class="releases">
                <h2>New Posts</h2><a class="vl" href="{{ site.baseurl }}/">View All</a>
            </div>
            <div class="listupd">
                {% for post in paginator.posts %}
                <div class="bs styletere">
                    <div class="bsx">

                        <a href="{{ site.url }}{{ site.baseurl }}/category/{{ post.subtag }}" title="{{ post.subtitle }}">
                            <div class="limit">
                                {% if post.image %}
                                
                                 <img src="{{ post.image }}" class="ts-post-image wp-post-image attachment-medium size-medium" loading="lazy">
                                {% endif %}
                            </div>
                        </a>
                        <div class="bigor">
                            <div class="tt">
                                <a href="{{ site.url }}{{ site.baseurl }}/category/{{ post.subtag }}" title="{{ post.subtitle }}">{{ post.category }}</a>
                            </div>
                            <div class="adds">
                                <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.subtitle }} {{ post.title }}">
                                    <div class="epxs">{{ post.title }}</div>
                                </a>
                                <div class="epxdate">{{ post.date | date: "%b %d, %Y" }}</div>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
                <div class="hpage">

                </div>

                <div class="pagination">
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="previous" onclick="ga('send', 'event', 'pagination', 'click', 'page previous')">
                        <svg style="height:10px;">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </a>
                    {% endif %}
                    <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="next" onclick="ga('send', 'event', 'pagination', 'click', 'page next')">
                        <svg style="height:10px;">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </a>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="bixbox bxcl epcheck">
            <div class="releases">
                <h2> List Tags</h2>
            </div>
            <div class="eplister" id="chapterlist">

                {% include taglis.html %}
            </div>
        </div>
    </div>

    {% include sidebar.html %}



</div>
