
 {% assign date_format = site.date_format | default: "%m/%d/%Y" %}

 <div class="eplister" id="chapterlist">
     <ul>
         {% assign tags_list = site.tags %}
         {% if tags_list.first[0] == null %}
         {% for tag in tags_list %}
         <li data-num="1.1">
         <div class="chbox">
         <div class="eph-num">
             <a href="tags/#{{ tag | slugify }}">{{ tag }}</a>
         </div></div>
         </li>
         {% endfor %}
         {% else %}
         {% for tag in tags_list %}
         <li data-num="1.1">
         <div class="chbox">
         <div class="eph-num">
             <a href="tags/#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
         </div></div>
         </li>
         {% endfor %}
         {% endif %}
         {% assign tags_list = nil %}
     </ul>
 </div>
 {% for tag in site.tags  %}
 <a class="post-anchor" id="{{ tag[0] | slugify }}"></a>
 {% endfor %}
